Csv,SmallTest.csv,,,true,false,false,,,
Csv,MSFT.csv,,,true,false,false,,,
Csv,AirQuality.csv,;,,true,false,false,,,
Csv,DnbHistoriskeKurser.csv,,,true,false,false,,nb-NO,
Csv,file with spaces.csv,,,true,false,false,,,
Csv,LastFM.tsv,,,false,false,false,,,
Csv,Titanic.csv,,,true,false,false,,,
Csv,Titanic.csv,,passengerid = int ; Pclass -> Class; Parch -> ParentsOrChildren = int<meter>;SibSp->SiblingsOrSpouse,true,true,true,,,
Csv,tendulkarHistoryWithGameNumber.csv,,,true,false,false,,,
Csv,cp932.csv,,,true,false,false,NaN (非数値),ja-JP,932
Csv,TimeSpans.csv,,,true,false,false,,,
Xml,Writers.xml,false,false,,true,,BackwardCompatible
Xml,Writers.xml,false,false,,true,,ValuesOnly
Xml,Writers.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,Writers.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,HtmlBody.xml,false,true,,true,,BackwardCompatible
Xml,HtmlBody.xml,false,true,,true,,ValuesOnly
Xml,HtmlBody.xml,false,true,,true,,ValuesAndInlineSchemasHints
Xml,HtmlBody.xml,false,true,,true,,ValuesAndInlineSchemasOverrides
Xml,HtmlBody.xml,false,false,,true,,BackwardCompatible
Xml,HtmlBody.xml,false,false,,true,,ValuesOnly
Xml,HtmlBody.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,HtmlBody.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,http://tomasp.net/blog/rss.aspx,false,true,,true,,BackwardCompatible
Xml,http://tomasp.net/blog/rss.aspx,false,true,,true,,ValuesOnly
Xml,http://tomasp.net/blog/rss.aspx,false,true,,true,,ValuesAndInlineSchemasHints
Xml,http://tomasp.net/blog/rss.aspx,false,true,,true,,ValuesAndInlineSchemasOverrides
Xml,http://tomasp.net/blog/rss.aspx,false,false,,true,,BackwardCompatible
Xml,http://tomasp.net/blog/rss.aspx,false,false,,true,,ValuesOnly
Xml,http://tomasp.net/blog/rss.aspx,false,false,,true,,ValuesAndInlineSchemasHints
Xml,http://tomasp.net/blog/rss.aspx,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,projects.xml,false,false,,true,,BackwardCompatible
Xml,projects.xml,false,false,,true,,ValuesOnly
Xml,projects.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,projects.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,Philosophy.xml,false,false,,true,,BackwardCompatible
Xml,Philosophy.xml,false,false,,true,,ValuesOnly
Xml,Philosophy.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,Philosophy.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,IrelandStations.xml,true,false,,true,,BackwardCompatible
Xml,IrelandStations.xml,true,false,,true,,ValuesOnly
Xml,IrelandStations.xml,true,false,,true,,ValuesAndInlineSchemasHints
Xml,IrelandStations.xml,true,false,,true,,ValuesAndInlineSchemasOverrides
Xml,AnyFeed.xml,true,false,,true,,BackwardCompatible
Xml,AnyFeed.xml,true,false,,true,,ValuesOnly
Xml,AnyFeed.xml,true,false,,true,,ValuesAndInlineSchemasHints
Xml,AnyFeed.xml,true,false,,true,,ValuesAndInlineSchemasOverrides
Xml,search.atom.xml,true,false,,true,,BackwardCompatible
Xml,search.atom.xml,true,false,,true,,ValuesOnly
Xml,search.atom.xml,true,false,,true,,ValuesAndInlineSchemasHints
Xml,search.atom.xml,true,false,,true,,ValuesAndInlineSchemasOverrides
Xml,search.atom.xml,false,false,,true,,BackwardCompatible
Xml,search.atom.xml,false,false,,true,,ValuesOnly
Xml,search.atom.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,search.atom.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,optionals1.xml,true,false,,true,,BackwardCompatible
Xml,optionals1.xml,true,false,,true,,ValuesOnly
Xml,optionals1.xml,true,false,,true,,ValuesAndInlineSchemasHints
Xml,optionals1.xml,true,false,,true,,ValuesAndInlineSchemasOverrides
Xml,optionals2.xml,true,false,,true,,BackwardCompatible
Xml,optionals2.xml,true,false,,true,,ValuesOnly
Xml,optionals2.xml,true,false,,true,,ValuesAndInlineSchemasHints
Xml,optionals2.xml,true,false,,true,,ValuesAndInlineSchemasOverrides
Xml,optionals3.xml,true,false,,true,,BackwardCompatible
Xml,optionals3.xml,true,false,,true,,ValuesOnly
Xml,optionals3.xml,true,false,,true,,ValuesAndInlineSchemasHints
Xml,optionals3.xml,true,false,,true,,ValuesAndInlineSchemasOverrides
Xml,emptyValue.xml,false,false,,true,,BackwardCompatible
Xml,emptyValue.xml,false,false,,true,,ValuesOnly
Xml,emptyValue.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,emptyValue.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,heterogeneous.xml,false,false,,true,,BackwardCompatible
Xml,heterogeneous.xml,false,false,,true,,ValuesOnly
Xml,heterogeneous.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,heterogeneous.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,missingInnerValue.xml,true,false,,true,,BackwardCompatible
Xml,missingInnerValue.xml,true,false,,true,,ValuesOnly
Xml,missingInnerValue.xml,true,false,,true,,ValuesAndInlineSchemasHints
Xml,missingInnerValue.xml,true,false,,true,,ValuesAndInlineSchemasOverrides
Xml,missingInnerValue.xml,true,true,,true,,BackwardCompatible
Xml,missingInnerValue.xml,true,true,,true,,ValuesOnly
Xml,missingInnerValue.xml,true,true,,true,,ValuesAndInlineSchemasHints
Xml,missingInnerValue.xml,true,true,,true,,ValuesAndInlineSchemasOverrides
Xml,JsonInXml.xml,true,false,,true,,BackwardCompatible
Xml,JsonInXml.xml,true,false,,true,,ValuesOnly
Xml,JsonInXml.xml,true,false,,true,,ValuesAndInlineSchemasHints
Xml,JsonInXml.xml,true,false,,true,,ValuesAndInlineSchemasOverrides
Xml,TypeInference.xml,false,false,,true,,BackwardCompatible
Xml,TypeInference.xml,false,false,,true,,ValuesOnly
Xml,TypeInference.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,TypeInference.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,TypeInference.xml,false,false,,false,,BackwardCompatible
Xml,SampleAzureServiceManagement.xml,false,false,,true,,BackwardCompatible
Xml,SampleAzureServiceManagement.xml,false,false,,true,,ValuesOnly
Xml,SampleAzureServiceManagement.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,SampleAzureServiceManagement.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,TimeSpans.xml,false,false,,true,,BackwardCompatible
Xml,TimeSpans.xml,false,false,,true,,ValuesOnly
Xml,TimeSpans.xml,false,false,,true,,ValuesAndInlineSchemasHints
Xml,TimeSpans.xml,false,false,,true,,ValuesAndInlineSchemasOverrides
Xml,,false,false,,false,po.xsd,BackwardCompatible
Xml,,false,false,,false,homonim.xsd,BackwardCompatible
Xml,,false,false,,false,IncludeFromWeb.xsd,BackwardCompatible
Json,WorldBank.json,false,WorldBank,,true,false,BackwardCompatible
Json,WorldBank.json,false,WorldBank,,true,false,ValuesOnly
Json,WorldBank.json,false,WorldBank,,true,false,ValuesAndInlineSchemasHints
Json,WorldBank.json,false,WorldBank,,true,false,ValuesAndInlineSchemasOverrides
Json,TwitterStream.json,true,,,true,false,BackwardCompatible
Json,TwitterStream.json,true,,,true,false,ValuesOnly
Json,TwitterStream.json,true,,,true,false,ValuesAndInlineSchemasHints
Json,TwitterStream.json,true,,,true,false,ValuesAndInlineSchemasOverrides
Json,TwitterSample.json,true,,,true,false,BackwardCompatible
Json,TwitterSample.json,true,,,true,false,ValuesOnly
Json,TwitterSample.json,true,,,true,false,ValuesAndInlineSchemasHints
Json,TwitterSample.json,true,,,true,false,ValuesAndInlineSchemasOverrides
Json,OptionValues.json,false,,,true,false,BackwardCompatible
Json,OptionValues.json,false,,,true,false,ValuesOnly
Json,OptionValues.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,OptionValues.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,SimpleArray.json,false,,,true,false,BackwardCompatible
Json,SimpleArray.json,false,,,true,false,ValuesOnly
Json,SimpleArray.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,SimpleArray.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,DoubleNested.json,false,,,true,false,BackwardCompatible
Json,DoubleNested.json,false,,,true,false,ValuesOnly
Json,DoubleNested.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,DoubleNested.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,Nested.json,false,,,true,false,BackwardCompatible
Json,Nested.json,false,,,true,false,ValuesOnly
Json,Nested.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,Nested.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,Simple.json,false,,,true,false,BackwardCompatible
Json,Simple.json,false,,,true,false,ValuesOnly
Json,Simple.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,Simple.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,WikiData.json,false,,,true,false,BackwardCompatible
Json,WikiData.json,false,,,true,false,ValuesOnly
Json,WikiData.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,WikiData.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,Empty.json,false,,,true,false,BackwardCompatible
Json,Empty.json,false,,,true,false,ValuesOnly
Json,Empty.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,Empty.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,projects.json,false,,,true,false,BackwardCompatible
Json,projects.json,false,,,true,false,ValuesOnly
Json,projects.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,projects.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,Dates.json,false,,,true,false,BackwardCompatible
Json,Dates.json,false,,,true,false,ValuesOnly
Json,Dates.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,Dates.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,GitHub.json,false,,,true,false,BackwardCompatible
Json,GitHub.json,false,,,true,false,ValuesOnly
Json,GitHub.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,GitHub.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,topics.json,true,Topic,,true,false,BackwardCompatible
Json,topics.json,true,Topic,,true,false,ValuesOnly
Json,topics.json,true,Topic,,true,false,ValuesAndInlineSchemasHints
Json,topics.json,true,Topic,,true,false,ValuesAndInlineSchemasOverrides
Json,Vindinium.json,false,,,true,false,BackwardCompatible
Json,Vindinium.json,false,,,true,false,ValuesOnly
Json,Vindinium.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,Vindinium.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,contacts.json,false,,,true,false,BackwardCompatible
Json,contacts.json,false,,,true,false,ValuesOnly
Json,contacts.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,contacts.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,optionals.json,false,,,true,false,BackwardCompatible
Json,optionals.json,false,,,true,false,ValuesOnly
Json,optionals.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,optionals.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,reddit.json,false,,,true,false,BackwardCompatible
Json,reddit.json,false,,,true,false,ValuesOnly
Json,reddit.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,reddit.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,TypeInference.json,false,,,true,false,BackwardCompatible
Json,TypeInference.json,false,,,true,false,ValuesOnly
Json,TypeInference.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,TypeInference.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,TypeInference.json,false,,,false,false,BackwardCompatible
Json,TimeSpans.json,false,,,true,false,BackwardCompatible
Json,TimeSpans.json,false,,,true,false,ValuesOnly
Json,TimeSpans.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,TimeSpans.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,DictionaryInference.json,false,,,true,false,BackwardCompatible
Json,DictionaryInference.json,false,,,true,false,ValuesOnly
Json,DictionaryInference.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,DictionaryInference.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,DictionaryInference.json,false,,,true,true,BackwardCompatible
Json,DictionaryInference.json,false,,,true,true,ValuesOnly
Json,DictionaryInference.json,false,,,true,true,ValuesAndInlineSchemasHints
Json,DictionaryInference.json,false,,,true,true,ValuesAndInlineSchemasOverrides
Json,DictionaryInference-arrays.json,false,,,true,false,BackwardCompatible
Json,DictionaryInference-arrays.json,false,,,true,false,ValuesOnly
Json,DictionaryInference-arrays.json,false,,,true,false,ValuesAndInlineSchemasHints
Json,DictionaryInference-arrays.json,false,,,true,false,ValuesAndInlineSchemasOverrides
Json,DictionaryInference-arrays.json,false,,,true,true,BackwardCompatible
Json,DictionaryInference-arrays.json,false,,,true,true,ValuesOnly
Json,DictionaryInference-arrays.json,false,,,true,true,ValuesAndInlineSchemasHints
Json,DictionaryInference-arrays.json,false,,,true,true,ValuesAndInlineSchemasOverrides
Json,,,,,true,false,BackwardCompatible,SimpleSchema.json
Html,MarketDepth.htm,false,false,
Html,MarketDepth.htm,true,false,
Html,SimpleHtmlTablesWithTr.html,false,false,
Html,SimpleHtmlTablesWithThead.html,false,false,
Html,list_of_counties_wikipedia.html,false,false,
Html,w3c_html_tables.html,false,false,
Html,wimbledon_wikipedia.html,false,false,
Html,NuGet.html,false,false,
Html,imdb_chart.htm,false,false,
Html,ebay_cars.htm,false,false,
Html,us_presidents_wikipedia.html,false,false,
Html,doctor_who.html,false,false,
Html,doctor_who2.html,false,false,
Html,doctor_who3.html,false,false,
Html,SimpleHtmlLists.html,false,false,
Html,EmptyDefinitionLists.html,false,false,
Html,zoopla.html,false,false,
Html,zoopla2.html,false,false,
Markdown,BlogPost.md,,true
