Csv,SmallTest.csv,,,true,false,false,,,
Csv,MSFT.csv,,,true,false,false,,,
Csv,AirQuality.csv,;,,true,false,false,,,
Csv,DnbHistoriskeKurser.csv,,,true,false,false,,nb-NO,
Csv,file with spaces.csv,,,true,false,false,,,
Csv,LastFM.tsv,,,false,false,false,,,
Csv,Titanic.csv,,,true,false,false,,,
Csv,Titanic.csv,,passengerid = int ; Pclass -> Class; Parch -> ParentsOrChildren = int<meter>;SibSp->SiblingsOrSpouse,true,true,true,,,
Csv,tendulkarHistoryWithGameNumber.csv,,,true,false,false,,,
Csv,cp932.csv,,,true,false,false,NaN (非数値),ja-JP,932
Xml,Writers.xml,false,false,,true
Xml,HtmlBody.xml,false,true,,true
Xml,HtmlBody.xml,false,false,,true
Xml,http://tomasp.net/blog/rss.aspx,false,true,,true
Xml,http://tomasp.net/blog/rss.aspx,false,false,,true
Xml,projects.xml,false,false,,true
Xml,Philosophy.xml,false,false,,true
Xml,IrelandStations.xml,true,false,,true
Xml,AnyFeed.xml,true,false,,true
Xml,Search.Atom.xml,true,false,,true
Xml,Search.Atom.xml,false,false,,true
Xml,optionals1.xml,true,false,,true
Xml,optionals2.xml,true,false,,true
Xml,optionals3.xml,true,false,,true
Xml,emptyValue.xml,false,false,,true
Xml,heterogeneous.xml,false,false,,true
Xml,missingInnerValue.xml,true,false,,true
Xml,missingInnerValue.xml,true,true,,true
Xml,JsonInXml.xml,true,false,,true
Xml,TypeInference.xml,false,false,,true
Xml,TypeInference.xml,false,false,,false
Xml,SampleAzureServiceManagement.xml,false,false,,true
Json,WorldBank.json,false,WorldBank,,true
Json,TwitterStream.json,true,,,true
Json,TwitterSample.json,true,,,true
Json,OptionValues.json,false,,,true
Json,SimpleArray.json,false,,,true
Json,DoubleNested.json,false,,,true
Json,Nested.json,false,,,true
Json,Simple.json,false,,,true
Json,WikiData.json,false,,,true
Json,Empty.json,false,,,true
Json,projects.json,false,,,true
Json,Dates.json,false,,,true
Json,GitHub.json,false,,,true
Json,topics.json,true,Topic,,true
Json,Vindinium.json,false,,,true
Json,contacts.json,false,,,true
Json,optionals.json,false,,,true
Json,reddit.json,false,,,true
Json,TypeInference.json,false,,,true
Json,TypeInference.json,false,,,false
Html,MarketDepth.htm,false,false,
Html,MarketDepth.htm,true,false,
Html,SimpleHtmlTablesWithTr.html,false,false,
Html,SimpleHtmlTablesWithThead.html,false,false,
Html,list_of_counties_wikipedia.html,false,false,
Html,w3c_html_tables.html,false,false,
Html,wimbledon_wikipedia.html,false,false,
Html,NuGet.html,false,false,
Html,imdb_chart.htm,false,false,
Html,ebay_cars.htm,false,false,
Html,us_presidents_wikipedia.html,false,false,
Html,doctor_who.html,false,false,
Html,SimpleHtmlLists.html,false,false,
WorldBank,World Development Indicators;Global Financial Development,true
Freebase,,5,true,true