@import url(http://fonts.googleapis.com/css?family=Ovo);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
  font: 11pt 'Ovo', serif;
  background:#f0f0f0;
  padding:0px;
  margin:0px;
}

h1 { font-size:22pt; }
h2 { font-size:16pt; }
h3 { font-size:12pt; }

ul, li {
  margin: 0px;
  padding: 0px;
}

li {
  margin-left: 25px;
}

code {
  font: 9pt 'Droid Sans Mono', sans-serif;
  padding: 2px;
  background:#f0f0f0;
}
pre { 
  background:#f0f0f0;
  padding: 10px; 
}
pre.fssnip, pre code {
  font: 9pt 'Droid Sans Mono', sans-serif;
  line-height:12pt;
}

#content {
  padding:20px;
  background:white;
  margin-left:auto;
  margin-right:auto;
  max-width:700px;
}

/* identifier */
span.i { color:#000000; }
/* comment */
span.c { color:#008000; }
/* inactive code */
span.inactive { color:#808080; }
/* keywords */
span.k { color:#000080;  }
/* numbers */
span.n { color:#008000; }
/* operators */
span.o { color:#800080; }
/* preprocessor */
span.prep { color:#800080; }
/* string */
span.s { color:#808000; }
/* line number */
span.l { color:#80b0b0; }
/* fsi output */
span.fsi { font-style:italic; color:#606060; }
/* omitted */
span.omitted { 
	border:solid 1px #d8d8d8;
	color:#808080;
	padding:0px 0px 1px 0px;
	background:#fafafa;
}
/* tool tip */
div.tip 
{
  font: 10pt calibri, sans-serif;
	padding:3px;
	border:1px solid #606060;
	background:#ffffd0;
	display:none;
}
