# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.fsproj]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.fs]
fsharp_max_array_or_list_width=80
fsharp_max_array_or_list_number_of_items=5
fsharp_max_if_then_else_short_width=60
fsharp_max_dot_get_expression_width=80
