bin
obj
ClientBin
*.suo
docs/*.html
docs/experimental/*.html
docs/library/*.html
docs/tutorials/*.html
docs/docs
nuget/*.nupkg
*.user
__setup__*__.fsx
tools/FAKE
TestResults.xml
packages
gh-pages
release
tests/TestResult.xml
*.VisualState.xml
*.userprefs
