bin
obj
temp
docs/output
*.suo
nuget/*.nupkg
*.user
__setup__*__.fsx
TestResults.xml
packages
TestResult.xml
*.VisualState.xml
*.userprefs
log.csv
log.txt
.paket/paket.exe
paket-files
*.ide
*.bak
.vs
