# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Custom for Visual Studio
*.cs     text diff=csharp
*.sln    text eol=crlf merge=union
*.csproj text merge=union
*.vbproj text merge=union
*.fsproj text merge=union
*.dbproj text merge=union

# Standard to msysgit
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain

*.sh text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf

*.png binary
*.exe binary

# correct file type displays in gitlab to not be so overwhelmingly HTML
tests/FSharp.Data.Tests/Data/**.htm* -linguist-detectable

.github/workflows/*.lock.yml linguist-generated=true merge=ours