frameworks: net6.0, netstandard2.0
source https://api.nuget.org/v3/index.json

# These are for TPSDK testing of TPDTCs against .NET Core App 2.0, to make sure references can be found in a known packages/... location.
# The TPSDK testing helpers like these to be placed in pacakges/...
# see https://github.com/fsprojects/FSharp.TypeProviders.SDK/blob/0c0c9d11135039821a380f60ec21c701354e8cdb/src/ProvidedTypesTesting.fs
nuget NetStandard.Library.NetFramework
nuget Microsoft.NETCore.App

github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
github fsprojects/FSharp.TypeProviders.SDK tests/ProvidedTypesTesting.fs

nuget FSharp.Core >= 5.0.1 lowest_matching: true
nuget Microsoft.SourceLink.GitHub 1.0 copy_local: true
nuget Microsoft.SourceLink.Common 1.0 copy_local: true
nuget Microsoft.Build.Tasks.Git 1.0 copy_local: true

group Test
    frameworks: net6.0
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core 5.0.1
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit 3.13.1
    nuget NUnit3TestAdapter
    nuget FsUnit  4.0.4
    nuget FsCheck 2.15.1
    nuget GitHubActionsTestLogger
