Csv,SmallTest.csv,,,,true
Csv,MSFT.csv,,,,true
Csv,AirQuality.csv,;,,,true
Csv,DnbHistoriskeKurser.csv,,nb-NO,,true
Csv,file with spaces.csv,,,,true
Csv,LastFM.tsv,,,,false
Xml,Writers.xml,false,false,
Xml,HtmlBody.xml,true,false,
Xml,http://tomasp.net/blog/rss.aspx,true,false,
Xml,projects.xml,false,false,
Xml,Philosophy.xml,false,false,
Json,WorldBank.json,false,
Json,TwitterStream.json,true,
Json,OptionValues.json,false,
Json,SimpleArray.json,false,
Json,DoubleNested.json,false,
Json,Nested.json,false,
Json,Simple.json,false,
Json,WikiData.json,false,
Json,Empty.json,false,
Json,projects.json,false,
Json,Dates.json,false,
Json,GitHub.json,false,
WorldBank,World Development Indicators;Global Financial Development,true
Freebase,AIzaSyBTcOKmU7L7gFB4AdyAz75JRmdHixdLYjY,5,true,true
