Csv,SmallTest.csv,,,,true,false,false
Csv,MSFT.csv,,,,true,false,false
Csv,AirQuality.csv,;,,,true,false,false
Csv,DnbHistoriskeKurser.csv,,nb-NO,,true,false,false
Csv,file with spaces.csv,,,,true,false,false
Csv,LastFM.tsv,,,,false,false,false
Csv,Titanic.csv,,,,true,false,false
Csv,Titanic.csv,,,passengerId=int,true,true,true
Xml,Writers.xml,false,false,
Xml,HtmlBody.xml,true,false,
Xml,http://tomasp.net/blog/rss.aspx,true,false,
Xml,projects.xml,false,false,
Xml,Philosophy.xml,false,false,
Json,WorldBank.json,false,,WorldBank
Json,TwitterStream.json,true,,
Json,TwitterSample.json,true,,
Json,OptionValues.json,false,,
Json,SimpleArray.json,false,,
Json,DoubleNested.json,false,,
Json,Nested.json,false,,
Json,Simple.json,false,,
Json,WikiData.json,false,,
Json,Empty.json,false,,
Json,projects.json,false,,
Json,Dates.json,false,,
Json,GitHub.json,false,,
Json,list_my.json,false,,Topic
WorldBank,World Development Indicators;Global Financial Development,true
Freebase,AIzaSyBTcOKmU7L7gFB4AdyAz75JRmdHixdLYjY,5,true,true
