Csv,SmallTest.csv,,
Csv,MSFT.csv,,
Csv,AirQuality.csv,;,
Csv,DnbHistoriskeKurser.csv,,nb-NO
Csv,file with spaces.csv,,
Xml,Writers.xml,false,false,
Xml,HtmlBody.xml,true,false,
Xml,http://tomasp.net/blog/rss.aspx,true,false,
Xml,projects.xml,false,false,
Xml,Philosophy.xml,false,false,
Json,WorldBank.json,false,
Json,TwitterStream.json,true,
Json,OptionValues.json,false,
Json,SimpleArray.json,false,
Json,DoubleNested.json,false,
Json,Nested.json,false,
Json,Simple.json,false,
Json,WikiData.json,false,
Json,Empty.json,false,
Json,projects.json,false,
Json,Dates.json,false,
Json,GitHub.json,false,
WorldBank,,false
WorldBank,World Development Indicators;Global Development Finance,true
Freebase,AIzaSyBTcOKmU7L7gFB4AdyAz75JRmdHixdLYjY,10,true,true,true,true
Freebase,AIzaSyBTcOKmU7L7gFB4AdyAz75JRmdHixdLYjY,5,false,false,true,true
