name: Build and Test and Publish (release)

on:
  push:
    branches:
    - main

permissions:
  contents: write      # for peaceiris/actions-gh-pages
  id-token: write      # for NuGet trusted publishing

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.400
    - name: Restore .NET local tools
      run: dotnet tool restore
    - name: Restore packages
      run: dotnet paket restore
    - name: Build and test
      run: dotnet run --project build/build.fsproj -- -t All
    - name: Deploy documentation from master
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./output
        publish_branch: gh-pages
        force_orphan: true
    - name: Examine bin
      run: ls -r bin
    - name: Obtain NuGet key
      # this hash is v1.1.0
      uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544
      id: login
      with:
          user: fsprojects
    - name: Publish NuGets (if this version not published before)
      run: dotnet nuget push bin\FSharp.Data.*.nupkg -s https://www.nuget.org/api/v2/package -k ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --skip-duplicate

# Trusted publishing uses NuGet OIDC
# See: https://learn.microsoft.com/nuget/nuget-org/publish-a-package#trusted-publishing
